

.footer {

   &__wrapper {
      padding-top: 60px;
      padding-bottom: 60px;
   
      @media screen and (min-width: 768px) {
         padding-top: 100px;
         padding-bottom: 100px;
      }
   }

   &__envelop {

      @media screen and (min-width: 1280px) {
         display: flex;
         justify-content: space-between;
      }
   }
}


/*-----------------------------------------FOTER-NAVIGATION-------------------------------------*/

.menu {
   display: flex;
   height: 100%;

   &__logo {
      @media screen and (max-width: 767px) {
         width: calc(100%/2);
      }
   
      @media screen and (min-width: 768px) {
         margin-right: 114px;
      }
   
      @media screen and (min-width: 1280px) {
         margin-right: 148px;
      }
   }

   &__navigation {
      @media screen and (max-width: 767px) {
         width: calc(100%/2);
      }
   
      @media screen and (min-width: 768px) {
         display: flex;
         align-items: center;
      }
   }

   &__list {
      padding: 0;
      margin: 0;

      @media screen and (min-width: 768px) {
         display: flex;
         gap: 28px;
      }
   }
   
   &__set {
      @media screen and (max-width: 767px) {
         margin-bottom: 20px;

         &:last-child {
            margin-bottom: 0;
         }
      }
   }
   
}



/*-----------------------------------------FOTER-FORM-------------------------------------*/

.form {
   margin-top: 40px;

   @media screen and (min-width: 1280px) {
      margin-top: 0;
   }

   &__title {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: rgba(44, 44, 44, 1);
   }

   &__wrapper {
      display: flex;
      margin-top: 12px;
   
         @media screen and (max-width: 767px) {
            flex-direction: column;
         }
      
         @media screen and (min-width: 768px) {
            align-items: center;
         }

         & .button {
            background-color: inherit;
            border: 0.854167px solid #7EB101;
            border-radius: 30px;
            width: 103px;
            height: 42px;
   
               @media screen and (max-width: 767px) {
                  margin-top: 20px;
                  margin-left: auto;
               }
         }
   }   

   &__input {
      border: 0.854167px solid #FFE550;
      border-radius: 30px;
      width: 100%;
      height: 42px;
      padding: 12px 0 12px 12px;
   
   
      @media screen and (min-width: 768px) {
         width: 279px;
         margin-right: 13px;
      }
   }
      
   &__paragraf {
      margin-top: 20px;
      font-weight: 400;
      font-size: 10px;
      line-height: 1.2;
      color: rgba(44, 44, 44, 1);
      margin-bottom: 0;
      
         @media screen and (min-width: 768px) {
            margin-top: 12px;
            font-size: 12px;
            line-height: 1.17;
         }
   }

   &__link {
      text-decoration: underline;
      color: rgba(126, 177, 1, 1);
   }


} 



/*-----------------------------------------FOTER-POLICE-------------------------------------*/

.police {
   margin-top: 60px;

      @media screen and (min-width: 768px) {
         margin-top: 100px;
         display: flex;
         align-items: center;
         justify-content: space-between;
      }

      @media screen and (min-width: 768px) {
         margin-top: 80px;
      }

      &__list {
         display: flex;
         justify-content: space-between;
         
            @media screen and (min-width: 768px) {
               gap: 20px;
            }
      }

      &__link {
         text-decoration: underline;
         font-weight: 400;
         font-size: 10px;
         line-height: 12px;
         color: rgba(126, 177, 1, 1);
         
            @media screen and (min-width: 768px) {
               font-size: 12px;
               line-height: 1.17;
            }
      }

      &__paragraf {
         display: flex;
         justify-content: center;
         margin-top: 0;
         margin-bottom: 0;
      
         font-weight: 400;
         font-size: 10px;
         line-height: 1.2;
         color: rgba(44, 44, 44, 1);
         
            @media screen and (max-width: 767px) {
               margin-top: 40px;
            }
         
            @media screen and (min-width: 768px) {
               font-size: 12px;
               line-height: 1.17;
            }
      }

}

