/*-----------------------------------------BASE-------------------------------------*/

ul {
list-style: none;
padding: 0;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: invert;
}

button {
    list-style: none;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(254, 254, 254, 1);
    
}

.container {
    outline: solid rosybrown;
    margin-left: auto;
    margin-right: auto;
  


    @media screen and (max-width: 767px) {
        max-width: 480px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
    }


}

/*-----------------------------------------HEADER------------------------------------*/

.header__container {
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
   

        @media screen and (max-width: 767px) {
            position: relative;
        }

        &__right {
            display: flex;
            align-items: center;
        }


}


.modal {
    @media screen and (max-width: 767px) {

        position: absolute;
        z-index: 6;
        top: 50px;
        right: 0;
        width: 130px;
        height: 255px;
        background: #FEFEFE;
        box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
        border-radius: 30px 0px 30px 30px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow: hidden;

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
        }

    }

    &__btn {
        width: 28px;
        height: 28px;
        outline: solid none;
        background-color: inherit;
        border: none;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__btn-x {
        @media screen and (max-width: 767px) {
        
            position: absolute;
            right: 4px;
            top: 0;
            background-color: inherit;
            width: 24px;
            height: 24px;
            padding: 6px;
            border: none;
    
                &:hover,
                &:focus {
                    background-color: var(--white);
                    fill: var(--blue);
                }
            }
        
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

}

.navigation {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;

        &__list {
            display: flex;
            padding: 0;
            margin: 0;
            
                @media screen and (max-width: 767px) {
                    flex-wrap: wrap;
                }
            
                @media screen and (min-width: 768px) {
                    gap: 28px;
                }
        }

        &__set {
            @media screen and (max-width: 767px) {
                width: 130px;
                padding: 16px 10px 16px 16px;
            
                    &:active,
                    &:hover {
                        background-color: rgba(187, 243, 48, 1);
                    }
                }
        }

        &__paragraf {
            margin: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.19;
            
            
                @media screen and (max-width: 767px) {
                    width: 100%;
            
                }
            
                @media screen and (min-width: 768px) {
                    font-size: 14px;
                    line-height: 1.14;
            
                    &:active,
                    &:hover {
                        color: rgba(187, 243, 48, 1);
                    }
                }
            
                @media screen and (min-width: 1280px) {
                    color: rgba(44, 44, 44, 1);
                }
        }

}

/*----------------------------------------BUTTON "ORDER NOW"-----------------------------------*/


.order {

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-left: 30px;
    }

        &__button {
        
        
            background-color: rgba(187, 243, 48, 1);
            border-radius: 30px;
            border: none;
            padding: 6px 18px;
        
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 1.5;
            color: rgba(44, 44, 44, 1);
        
        
        }

        &__backdrop {
            @media screen and (max-width: 767px) {
                display: none;
            }

            @media screen and (min-width: 768px) {
                
                position: fixed;
                z-index: 6;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(94, 99, 99, 0.7);
                overflow-y: scroll;
        
                    &.is-hidden {
                        opacity: 0;
                        pointer-events: none;
                    }
                
                
            }
        }

        &__modal {
            @media screen and (min-width: 768px) {
                position: absolute;
                z-index: 7;
                top: 50%;
                left: 50%;
                transform: scale(1) translate(-50%, -50%);
                width: 458px;
                height: 449px;
                background-color: rgba(255, 229, 80, 1);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
                border-radius: 30px;
            }
        }

        &__btn-x {

            @media screen and (min-width: 768px) {

                position: absolute;
                z-index: 8;
                right: 8px;
                top: 8px;
                width: 32x;
                height: 32px;
                padding: 4px;
                border-radius: 50%;
                border: none;
                background-color: rgba(255, 255, 255, 1);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
            }
        }
}


.hero {
    padding-top: 60px;
}